#contendor_carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}
#carga{
    border: 15px solid #ccc;
    border-top-color: #f4266a;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.discount-container{
    color: #ffffff;
    font-weight: bold;
    background-color: #eeac60;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
main{
    margin: 2rem;
}
header nav{
    background-color: #e8eaec;
}
.container{
    background-color: #e8eaec;
    border-radius: 2rem;
}
.cards-container{
    padding: 2rem;
}
.price-container{
    display:block;
    line-height: 10px;
}
.prices_discount-container{
    height: 5rem;
    margin-top: 2rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.data-container{
    display:block;
    height: 9rem;
}
.cart-container-modal{
    margin-bottom: 1rem;
    display: block;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #e8eaec;
}
.cart-container-modal button{
    border-radius: 2rem;
}
.cart-data-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
